.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.textContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  padding: 110px;
  font-size: 32px;
}

.textContainer a {
  font-size: 22px;
  color: rgb(143, 143, 143);
}

.textContainer a:hover {
  color: white;
}